.heading{
  letter-spacing: 4px;
  font-size: larger;
  color: black;
  padding: 10px;
  display: block;
  margin-top: 0px;
}

.content-heading{
  color: black;
  margin-top: -1px;
  letter-spacing: 5px;
  font-size: x-large;
  font-family: Helvetica;
}


.content-p{
  color: rgb(20, 20, 20);
  margin-top: -1px;
  text-align: justify;
  font-size: medium;
  font-family: Helvetica;
}


.carousel-main-div{
  border: 0.1px solid rgb(5, 26, 19);
  box-shadow: 1px 2px 1px 0;
  display: flex;
  flex-flow: row;
  height: 300px;
  padding: 12px;  
}


.carousel-child-div{
  /* border:1px solid rebeccapurple; */
}

.carousel-child-div:nth-of-type(odd){
  width: 5%;
}

.carousel-child-div:nth-of-type(even){
  width: 90%;
}

.carousel-content-div{
  display: flex;
  flex-flow: row;
}

.carousel-content-child-div:nth-of-type(odd){
  width: 50%;
  float: left;
}

.carousel-content-child-div:nth-of-type(even){
  width: 50%;
  float: right;
  background-color: transparent;
}

.carousel-image {
  width: 600px;
  height: 300px;
}

.image{
  margin-top: 120px;
}